.footer{
    position:fixed;
    width: 100%;
    margin-top: 100vh;
    height: 100%;
    margin-bottom: 0;
    display: block;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.icons{
    display: inline-flex;
    flex-direction: row; 
    margin-top: 10px; 
}
.icon{
    margin-left: 45px;
    margin-right: 45px;
}
.footer-hr{
    margin-top: -51px;
    width: 90%;
    border: 2px solid rgba(37, 79, 219, 0.4);
}